*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body{
    background-color: #004F4D;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 2px,#276931;
    padding: 10px;
}

h1{
    color: #1F2024;
    font-size: 2em;
}

h2{
    color: #4B4952;
}